html, body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#app {
  display: flex;
  flex-direction: column;
  position: relative;

  font-size: 16px;
  --font-family: "Microsoft YaHei", Avenir, Helvetica, Arial, sans-serifl;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  backface-visibility: hidden;
  font-family: var(--font-family);
}

#main {
  width: 100%;
  flex: 1;
  min-height: 0;
  box-sizing: border-box;
  --el-color-primary: var(--primary);
  --el-input-text-color: var(--accent);
  color: var(--foreground);
  background-color: var(--background);
}

// 桌面端：标题栏高度 30px
#main.platform-pc {
  padding-top: 30px;
}

// 移动端：状态栏高度
#main.platform-mobile {
  padding-top: 20px;
}

// 全局滚动条样式
*::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  width: 100%;
  border-radius: 10px;
  background-color: var(--active);
  border: 1px solid var(--active);
  background-clip: padding-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}
