// 公共分页样式 - 手机端
@media screen and (max-width: 800px) {
  .shelf .el-pagination,
  .favorite .el-pagination {
    flex-shrink: 0;
    padding: 0;
    margin-top: auto;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;

    button, li {
      min-width: 24px;
      height: 24px;
      margin: 0 2px;
      border-radius: 4px;
      font-size: 10px;
      padding: 0 2px;
    }
  }
}
