// 书籍网格配置 - 手机端适配
@media screen and (max-width: 414px) {
  .shelf {
    font-size: 13px;
    --el-font-size-base: 12px;
    padding: 8px;
    padding-bottom: 8px;
    box-sizing: border-box;
  }

  .search {
    width: 95vw;
    max-width: 300px;
    height: 36px;
    margin: 0 auto 8px;
    flex-shrink: 0;

    .search-input {
      height: 32px;
    }
  }

  .books {
    flex: 1;
    width: 100%;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 8px;
    place-items: center;
    justify-content: center;
    -webkit-overflow-scrolling: touch;
    padding: 3px;
    box-sizing: border-box;
    margin-bottom: 8px;
  }

  .book {
    width: 90px;
    height: 130px;
    border-radius: 6px;
    padding: 3px;
    box-sizing: border-box;

    .cover {
      width: 75px;
      height: 110px;
      border-radius: 5px;
    }

    .name {
      margin-top: 1px;
      font-size: 11px;
    }
  }

  .el-pagination {
    flex-shrink: 0;
    padding: 0;
    margin-top: 3px;
    margin-bottom: 8px;
    width: 100%;
    display: flex;
    justify-content: center;

    button, li {
      min-width: 22px;
      height: 22px;
      margin: 0 1px;
      border-radius: 3px;
      font-size: 9px;
      padding: 0 1px;
    }
  }
}